
@{
    ViewBag.Title = "Devices";
}
@section styles{
<link href="~/Content/Devices.css" rel="stylesheet" type="text/css" />
}

<h2>Device</h2>
<div class="centreChild"><div id="deviceIDInput"></div><input type="button" id="searchButton" value="Search"/></div>
<div id="deviceContainer">
    <div class="deviceSection">
        <div id="curvedBox1" class="curvedBox preLoadForDevice">
            <p class="visiblePreLoad">No Data Available device not selected</p>
            <br class="visiblePreLoad"/>
            <p class="loadRequired">Device Id: </p><p class="loadRequired" id="deviceIDArea"></p>
            <br/>
            <p class="loadRequired">Device Name: </p><p class="loadRequired" id="deviceName"></p>
            <br/>
            <p class="loadRequired">Average Toner Coverage: </p><p class="loadRequired" id="averageTonerCoverage"></p>
            <br/>
            <p class="loadRequired">Cyan Low Toner Percentage: </p><div class="loadRequired" id="cyanLowToner"></div>
            <br/>
            <p class="loadRequired">Yellow Low Toner Percentage : </p><div class="loadRequired" id="yellowLowToner" ></div>
            <br/>
            <p class="loadRequired">Magenta Low Toner Percentage : </p> <div class="loadRequired" id="magentaLowToner" ></div>
            <br/>
            <p class="loadRequired">Keying Low Toner Percentage : </p> <div class="loadRequired" id="keyingLowToner" ></div>
            <input class="loadRequired" id="saveTonerLowButton" type="button" value="Save"/>
            
        </div>
    </div>
    <div class="deviceSection">
        <div id="curvedBox2" class="curvedBox preLoadForDevice">
            <p class="visiblePreLoad">No Data Available device not selected</p>
            <br class="visiblePreLoad" />
            <div class="loadRequired chart" id="coverageChart"></div>
            <br class="loadRequired"/>
            <div class="loadRequired" id="coverageDropdownOption"></div>
        </div>
    </div>
    <div class="deviceSection">
        <div id="curvedBox3" class="curvedBox preLoadForDevice">
            <p class="visiblePreLoad">No Data Available device not selected</p>
            <br class="visiblePreLoad" />
            <p class="loadRequired">Customer Name: </p><p class="loadRequired" id="customerName"></p>
            <br/>
            <p class="loadRequired">Customer Address:</p>
            <br/>
            <p class="loadRequired" id="customerAddressArea"></p>
            <br/>
            <p class="loadRequired">Customer phone number: </p><p class="loadRequired" id="customerPhoneNumber"></p>
        </div>
    </div>
    <div class="deviceSection">
        <div id="curvedBox4" class="curvedBox preLoadForDevice">
            <p class="visiblePreLoad">No Data Available device not selected</p>
            <br class="visiblePreLoad" />
            <div class="loadRequired chart" id="tonerPercentageChart"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $("document").ready(function() {
            var loadRequiredElems = $(".loadRequired");
            var visiblePreLoad = $(".visiblePreLoad");
            var loadedItem = false;

            var printerId;
            var customerId;

            var searchButton = $("#searchButton");
            var deviceIdInput = $("#deviceIDInput");
            var saveTonerLowButton = $("#saveTonerLowButton");
            deviceIdInput.jqxNumberInput({ decimalDigits: 0, min: 0, inputMode: 'simple' });
            searchButton.jqxButton({ width: 120 });
            saveTonerLowButton.jqxButton({ width: 120 });

            var cyanLowToner = $("#cyanLowToner");
            cyanLowToner.jqxNumberInput({ decimalDigits: 0, min: 0, max: 100, inputMode: 'simple', width: 32 });
            var yellowLowToner = $("#yellowLowToner");
            yellowLowToner.jqxNumberInput({ decimalDigits: 0, min: 0, max: 100, inputMode: 'simple', width: 32 });
            var magentaLowToner = $("#magentaLowToner");
            magentaLowToner.jqxNumberInput({ decimalDigits: 0, min: 0, max: 100, inputMode: 'simple', width: 32 });
            var keyingLowToner = $("#keyingLowToner");
            keyingLowToner.jqxNumberInput({ decimalDigits: 0, min: 0, max: 100, inputMode: 'simple', width: 32 });



            saveTonerLowButton.on('click',
                function () {
                    var tonerData = {
                        PrinterID: printerId,
                        Cyan: cyanLowToner.val,
                        Yellow: yellowLowToner.val,
                        Magenta: magentaLowToner.val,
                        Keying: keyingLowToner.val
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateTonerLow","Devices")',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(tonerData),
                        success: function () {
                            alert("Toner low successfully updated");
                        },
                        error: function (xhr) {
                            alert("An error occured " + xhr.status + " " + xhr.statusMessage);
                        }
                    });
                });

            var tonerPercentageChart = $("#tonerPercentageChart");
            var coverageChart = $("#coverageChart");

            var coverageChartOptionsDropdown = $("#coverageDropdownOption");

            var sourceForChartType = [
                { DisplayMember: "Cyan", ValueMember: "CyanDaily" },
                { DisplayMember: "Yellow", ValueMember: "YellowDaily" },
                { DisplayMember: "Magenta", ValueMember: "MagentaDaily" },
                { DisplayMember: "Keying", ValueMember: "KeyingDaily" },
                { DisplayMember: "Color", ValueMember: "ColorDaily" },
                { DisplayMember: "All", ValueMember: "AllDaily" }
            ];
            coverageChartOptionsDropdown.jqxDropDownList({
                source: sourceForChartType,
                displayMember: "DisplayMember",
                valueMember: "ValueMember",
                selectedIndex: 5
            });


            

            coverageChartOptionsDropdown.on('select',
                function() {
                    coverageChart.jqxChart('getInstance').update();
                });

            
            
            searchButton.on('click',
                function() {
                    printerId = $("#deviceIDInput").val();

                    $.ajax({
                        type: 'GET',
                        url: '@Url.Action("GetDeviceDetails", "Devices")',
                        data: { printerId: printerId },
                        datatype: 'json',
                        success: function(response) {
                            if (response.success) {
                                customerId = response.customer.customerID;
                                if (!loadedItem) {
                                    loadRequiredElems.css("display", "inline-block");
                                    visiblePreLoad.css("display", "none");
                                    tonerPercentageChart = $("#tonerPercentageChart");
                                    coverageChart = $("#coverageChart");
                                    var today = new Date();
                                    var monthAgo = new Date(new Date(today).setMonth(today.getMonth() - 1));
                                    var dataForCoverageChart = {
                                        CustomerId: customerId,
                                        StartDate: monthAgo,
                                        EndDate: today,
                                        CoverageType: coverageChartOptionsDropdown.jqxDropDownList('getSelectedItem').value,
                                        PrinterId: printerId
                                    };
                                    var sourceCoverageChart = {
                                        dataType: 'json',
                                        contentType: 'application/json',
                                        dataFields: [
                                            { name: 'Coverage' },
                                            { name: 'Date' }
                                        ],
                                        url: '@Url.Action("GetCoverageForPrinter", "Coverage")',
                                        data: dataForCoverageChart
                                    };
                                    var dataAdapterCoverageChart = new $.jqx.dataAdapter(sourceCoverageChart);
                                    var sourceForTonerPercentageChart = {
                                        dataType: 'json',
                                        contentType: 'application/json',
                                        dataFields: [
                                            { name: 'Cyan' },
                                            { name: 'Yellow' },
                                            { name: 'Magenta' },
                                            { name: 'Keying' },
                                            { name: 'PrinterID' }
                                        ],
                                        url: '@Url.Action("GetTonerPercentage", "Devices")',
                                        data: { printerId: printerId }
                                    }
                                    var dataAdapterForTonerPercentageChart = new $.jqx.dataAdapter(sourceForTonerPercentageChart);

                                    var settingsForTonerPercentageChart = {
                                        title: "Toner Percentage",
                                        description: "",
                                        showLegend: true,
                                        enableAnimations: true,
                                        padding: { left: 8, right: 8, top: 8, bottom: 8 },
                                        titlePadding: { left: 8, right: 8, top: 8, bottom: 8 },
                                        source: dataAdapterForTonerPercentageChart,
                                        xAxis: {
                                            dataField: 'PrinterID',
                                            gridlines: { visible: false },
                                            valuesOnTicks: false,
                                            labels: { visible: false }
                                        },
                                        columnSeriesOverlap: false,
                                        seriesGroups: [
                                            {
                                                type: 'column',
                                                valueAxis: {
                                                    visible: true,
                                                    unitInterval: 10,
                                                    minValue: 0,
                                                    maxValue:100,
                                                    title: { text: 'Toner Percentage<br>' }
                                                },
                                                series: [
                                                    {
                                                        dataField: 'Cyan',
                                                        displayText: 'Cyan Percentage',
                                                        color: '#00FFFF'
                                                    },
                                                    {
                                                        dataField: 'Yellow',
                                                        displayText: 'Yellow Percentage',
                                                        color: '#FFFF00'
                                                    },
                                                    {
                                                        dataField: 'Magenta',
                                                        displayText: 'Magenta Percentage',
                                                        color: '#FF00FF'
                                                    },
                                                    {
                                                        dataField: 'Keying',
                                                        displayText: 'Keying Percentage',
                                                        color: '#000000'
                                                    }
                                                ]
                                            }
                                        ]

                                    };
                                    
                                    tonerPercentageChart.jqxChart(settingsForTonerPercentageChart);
                                    console.log("toner percentage chart setup called");

                                    

                                    var chartSettingsCoverageChart = {
                                        title: "Coverage Chart",
                                        description: "",
                                        enableAnimations: true,
                                        source: dataAdapterCoverageChart,
                                        xAxis: {
                                            dataField: 'Date',
                                            formatFunction: function(value) {
                                                return value.getDate() + '-' + months[value.getMonth()] + '-' + value.getFullYear();
                                            },
                                            type: 'date',
                                            baseUnit: 'day',
                                            tickMarks: {
                                                visible: true,
                                                interval: 1
                                            }
                                        },
                                        valueAxis: {
                                            visible: true,
                                            title: { text: 'Coverage Percentage<br>' }
                                        },
                                        seriesGroups:
                                        [
                                            {
                                                type: 'line',
                                                series:
                                                [
                                                    { dataField: 'Coverage', displayText: "Coverage" }
                                                ]
                                            }
                                        ]
                                    };
                                    coverageChart.jqxChart(chartSettingsCoverageChart);
                                    loadedItem = true;


                                };
                                if (loadedItem) {
                                    tonerPercentageChart.jqxChart('getInstance').update();
                                    coverageChart.jqxChart('getInstance').update();
                                };
                                $("#deviceIDArea").text(printerId);
                                $("#deviceName").text(response.printer.PrinterName);
                                $("#averageTonerCoverage").text(response.printer.AverageTonerCoverage);
                                $("#customerName").text(response.customer.customerName);
                                $("#customerAddressArea").text(response.customer.customerAddress);
                                $("#customerPhoneNumber").text(response.customer.customerContactNumber);
                                $("#cyanLowToner").val(response.printer.CyanLowTonerPercentage);
                                $("#yellowLowToner").val(response.printer.YellowLowTonerPercentage);
                                $("#magentaLowToner").val(response.printer.MagentaLowTonerPercentage);
                                $("#keyingLowToner").val(response.printer.KeyingLowTonerPercentage);
                            } else {
                                alert("An Error occured" + response.errorMessage);
                            }
                        },
                        error: function(response) {
                            alert("An error occured" + response.status + " " + response.statusText);
                        }
                    });
                });


        });

    </script>
}

