@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link href="~/Content/Home.css" rel="stylesheet" type="text/css"/>
}

<body>

<div id="customerDropdown" class="ChartControlsHome"></div>

<div id="startDateDropdown" class="ChartControlsHome"></div>

<div id="endDateDropdown" class="ChartControlsHome"></div>

<div id="chartOptionsDropdown" class="ChartControlsHome"></div>

<br/>
<div id="LeftHandChart" class="ChartInline"></div>
<div id="RightHandChart" class="ChartInline"></div>

<br/>
<div id="LowTonerGrid"></div>

</body>