@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <link href="~/Content/Home.css" rel="stylesheet" type="text/css"/>
}

<body>

<div id="customerDropdown" class="ChartControlsHome"></div>

<div id="startDateDropdown" class="ChartControlsHome"></div>

<div id="endDateDropdown" class="ChartControlsHome"></div>

<div id="chartOptionsDropdown" class="ChartControlsHome"></div>

<br/>
<div id="LeftHandChart" class="ChartInline"></div>
<div id="RightHandChart" class="ChartInline"></div>

<br/>
<div id="LowTonerGrid"></div>

</body>

@section scripts{
    <script type="text/javascript">
        $("document").ready(function() {
            var url = '@Url.Action("GetCustomersForUser","Customer")';
            var customerDropdown = $("#customerDropdown");
            var startDateCalender = $("#startDateDropdown");
            var endDateCalender = $("#endDateDropdown");
            var source = {
                datatype: 'json',
                datafields: [
                    { name: "customerId" },
                    { name: "customerName" },
                    { name: "customerAddress" },
                    { name: "customerContactNumber" },
                    { name: "Printers" },
                    { name: "StockLocations" },
                    { name: "UserCustomers" }
                ],
                url:url
            }
            var dataAdapterForCustomerDropdown = new $.jqx.dataAdapter(source);
            customerDropdown.jqxDropDownList({
                source: dataAdapterForCustomerDropdown,
                displayMember: "customerName",
                valueMember: "customerId"
            });

            startDateCalender.jqxDateTimeInput({ formatString: "dd/MM/yyyy" });
            endDateCalender.jqxDateTimeInput({ formatString: "dd/MM/yyyy" });
            var today = new Date();
            endDateCalender.jqxDateTimeInput('val', today);

        })
    </script>
}