#FlexArea {
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#customerDetailsArea {
    -webkit-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    -o-flex: 0 1 30%;
    flex: 0 1 30%;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

#stockLocationGrid {
    -webkit-flex: 0 1 70%;
    -ms-flex: 0 1 70%;
    -o-flex: 0 1 70%;
    flex: 0 1 70%;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    height: 400px;
}
