

#customerDetailsArea {
    display: inline-block;
    width: 25%;
    float: left;
    margin: 20px 4%;
    text-align: center;
}

#stockLocationGrid {
    display: inline-block;
    height: 400px;
    float: right;
    margin: 20px 4%;
}

#printerGrid {
    margin: 100px auto;
}

#customerDropdown {
    margin: 0 auto;
}
#saveCustomer {
    text-align: center;
    margin: 0 auto;
}
#validateForm {
    margin: 0 auto;
}