
@section styles
{
    <link href=@Url.Content("~/Content/Login.css") rel="stylesheet" type="text/css"/>
}

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


<form id="LoginForm">
    <table class="Form RoundedCorners-Grey" >
        <tr>
            <td>UserId</td>
        </tr>
        <tr>
            <td><input type="text" required id="userId" placeholder="Enter User Id" /></td>
        </tr>
        <tr>
            <td>Password</td>
        </tr>
        <tr>

            <td><input type="password" id="password" required /></td>
        </tr>
        <tr>
            <td><input type="button" id="LogInButton" value="Log In" /></td>
        </tr>
    </table>
</form>




@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            //jqxButton
            $('#LogInButton').jqxButton({ width: 120, height: 40 });

            var loginButton = $('#LogInButton');

            $('#LoginForm').jqxValidator({
                hintType: 'tooltip',
                rules: [
                    {
                        input: '#userId',
                        message: 'A username is required',
                        action: 'blur',
                        rule: 'required'
                    },
                    {
                        input: '#password',
                        message: 'A password is required',
                        action: 'blur',
                        rule: 'required'
                    }
                ]
            });

            loginButton.on('click',
                function() {
                    $('#LoginForm').jqxValidator('validate');
                });
            $('#LoginForm').on('validationSuccess',
                function() {
                    var userData = {
                        UserName: $('#userId').val(),
                        Password: $('#password').val()
                    };
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("LoginRequest", "Login")',
                        contentType: 'application/json',
                        data: JSON.stringify(userData),
                        success: function() {
                            window.location.href = '@Url.Action("Index","Home")';
                        },
                        error: function(xhr) {
                            if (xhr.status === 401) {
                                alert("Username or password is invalid");
                            } else {
                                alert("Login failed error code:" + xhr.status);
                            }
                        }
                    });
                });

        });
    </script>
}
